################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BookLibrary/bin/
/BookLibrary/obj
/BookLibraryTests/bin
/BookLibraryTests/obj/Debug/net8.0/ref
/BookLibraryTests/obj/Debug/net8.0/refint
/BookLibraryTests/obj/Release/net8.0
/ExpectedExceptionExample/.vs
/money/bin/Debug/net6.0/Money.dll
/money/bin/Debug/net6.0/Money.pdb
/money/bin/Debug/net6.0/nunit_random_seed.tmp
